.wrapper{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 48px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 125px;
}

.header{
    width: 58%;
    height:685.71px;
}

.header-nav{
    display: flex;
    justify-content: space-between;
    height: 9%;
}

.logo{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 48.7px;
}

.logo-violet{
    width: 19.88px;
    height: 19.88px;
    background-color: #9C69E2;
    border-radius: 20px;
}

.logo-pink{
    width: 19.88px;
    height: 34.78px;
    background: #F063B8;
    border-radius: 20px;  
}

.nav-btn{
    display: flex;
    gap: 31px;
}

.btn-sign-in{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    padding: 0px 78px;
    font-family:  Avenir ;
    font-size: 16px;
    font-weight: 700;
    line-height: 25.6px;
    letter-spacing: 0.005em;
    text-align: left;
    text-decoration: none;
    background: #9C69E2;
    border-radius: 50px;
    border: none;
    cursor: pointer;
}

.description{
    width: 51%;
    bottom: 7%;
    position: absolute;
    height: 71%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.header-description{
    display: flex;
    position: relative;
    width: 100%;
    height: 91%;
    align-items: center;
}

.description-name{
    color: rgba(33, 35, 83, 1);
    font-family: Helvetica;
    font-size: 80px;
    font-weight: 700;
    line-height: 88px;
    text-align: left;
}

.description-text{
    width: 65%;
    color: rgba(75, 93, 104, 1);
    font-family: Avenir;
    font-size: 18px;
    font-weight: 500;
    line-height: 28.8px;
    text-align: left;
}

.btn-description{
    width: 168.94px;
    height: 59.63px;
    top: 638.31px;
    left: 400px;
    background: #9C69E2;
    border-radius: 50px;
    border: none;
    p{
        color: rgba(255, 255, 255, 1);
        font-family: Avenir;
        font-size: 18px;
        font-weight: 800;
        text-align: center;
        ;
        }
}

.description-image{
    position: absolute;
    width: 65%;
    right: 0px;
    bottom: 0;
}


.features{
    width: 58%;
    height:1010.41px;
    margin-top: 164px;
}

.features-title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 157.57px;
    margin-bottom: 100px;
    div{
        height: 51.21px;
        color: rgba(33, 35, 83, 1);
        font-family: Helvetica;
        font-size: 40px;
        font-weight: 700;
        line-height: 52px;
        text-align: center;

    }
    p{
        margin: 0 auto;
        height: 57.12px;
        width: 575.12px;
        color: rgba(75, 93, 104, 1);
        font-family: Avenir;
        font-size: 18px;
        font-weight: 500;
        line-height: 28.8px;
        text-align: center;
    }
}

.wrapper-features{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.features-group{
    position: relative;
    width: 48%;
    margin-bottom: 4%;
}

.features-group:nth-child(2) .group{
     background: rgba(156, 105, 226, 0.1);
}
.features-group:nth-child(3) .group{
    background: rgba(156, 105, 226, 0.1);
}

.group-img{
    z-index: 1;
    position: absolute;
    display: flex;
    left: 0;
    justify-content: center;
    width: 228.47px;
    height: 207.79px;   
    margin-top: 72px;
}

.group{
    float: right;
    height: 352.56px;
    padding: 0 48px 0 120px;
    background-color: rgba(104, 201, 186, 0.1);
    border-radius: 50px;
}
.group:nth-child(1){
    background-color: #000;
}

.group-name{
    width: 196.96px;
    height: 49.24px;
    margin-top: 48px;
    color: rgba(33, 35, 83, 1);
    font-family: Helvetica;
    font-size: 24px;
    font-weight: 400;
    line-height: 50.2px;
    text-align: left;
}

.group-desr{
    width: 216.66px;
    height: 157.57px;   
    margin: 20px 0;
    font-family: Helvetica;
    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
    text-align: left;
    color: rgba(75, 93, 104, 1);
}

.group-btn{
    position: relative;
    color: rgba(33, 35, 83, 1);
    font-family:  Helvetica;
    font-size: 15px;
    font-weight: 600;
    line-height: 25.6px;
    letter-spacing: 0.005em;
    text-align: left;

}
.btn-next{
    position: absolute;
    display: flex;
    align-items: center;
    top: 50%;
    right: 44%;
}
.next-s{
    
    margin-left: 4px;
    border: solid rgba(156, 105, 226, 1);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.vector-s{
    position: absolute;
    right: 0;
    height: 2px;
    width: 20px;
    background-color: rgba(156, 105, 226, 1);
}

/* testimonials */

.testimonials{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 58%;
    height: 710.27px;
    margin-top: 120px;
    background: rgba(156, 105, 226, 1);
    border: 2px solid rgba(255, 255, 255, 1);
    border-radius: 50px;
}

.testimonials-title{
    width: 80%;
    font-family: Helvetica;
    color:  rgba(255, 255, 255, 1);
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    text-align: left;    
}

.testimonials-group{
    z-index: 1;
    display: flex;
    width: 80%;
    height: 46%;
    border-radius: 20px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 20px 0px 0px #8a56db ;
}

.testimonials-person{
    display: flex;
    justify-content: space-between;
    height: 68%;
    width: 80%;
    margin: auto;
  
}

.testimonials-image{
    width: 130px;
    height: 90.16px;
    margin-right: 44px;
}
.testimonials-wrapper{
    margin-top: 20px;
}

.testimonials-name{
    width: 245.55px;
    height: 29.05px;
    font-family: Avenir;
    font-size: 18px;
    font-weight: 900;
    line-height: 28.8px;
    letter-spacing: 0.005em;
    text-align: left;
}

.testimonials-path{
    width: 145.89px;
    height: 22.04px;
    font-family: Avenir;
    font-size: 14px;
    font-weight: 500;
    line-height: 22.4px;
    letter-spacing: 0.01em;
    text-align: left;
    color: rgba(156, 105, 226, 1);
}

.testimonials-desr{
    width: 70%;
    height: 130.23px;
    margin-top: 20px;
    color: rgba(75, 93, 104, 1);
    font-family: Avenir;
    font-size: 18px;
    font-weight: 400;
    line-height: 32.4px;
    text-align: left;
}

.testimonials-next{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    top: 52%;
    right: 27px;
}
.next{
    position: absolute;
    margin-left: 4px;
    border: solid #FFF;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 5px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.vector{
    position: absolute;
    height: 2px;
    width: 40px;
    background-color: #fff;
}

.testimonials-prev{
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    top: 52%;
    left: 30px;
}

.prev{
    position: absolute;
    border: solid #FFF;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 5px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.slide{
    display: flex; 
    align-items: center;
    justify-content: space-between;
    width: 55.1px;
    height: 10.02px;

}

.slide >.slide-active{
    background-color: rgba(240, 99, 184, 1);
    padding: 2px;
}

.slide-item{
    margin: auto;
    width: 5.01px;
    height: 5.01px;
    background-color: #fff;
    border-radius: 50%;
}

.footer{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 58%;
    margin-top: 90px;
    padding-top: 100px;
    padding-bottom: 125px;
    border-top: 1px solid rgba(156, 105, 226, 0.3);
}

.inner-logo{
    display: flex;
    align-items: center;
}

.info-name{
    margin-left: 20px;
    color: rgba(33, 35, 83, 1);
    font-family: Avenir;
    font-size: 20px;
    font-weight: 900;
    line-height: 32px;
    text-align: left;
}

.info-address{
    margin: 30px 0px;
    color: rgba(33, 35, 83, 1);
    font-family: Avenir;
    font-size: 16px;
    font-weight: 500;
    line-height: 28.8px;
    letter-spacing: 0.01em;
    text-align: left;
}

.info-mail{
    color: rgba(33, 35, 83, 1);
    font-family: Avenir;
    font-size: 16px;
    font-weight: 400;
    line-height: 28.8px;
    letter-spacing: 0.01em;
    text-align: left;

}
.list-title{
    margin-bottom: 30px;
    color: rgba(33, 35, 83, 1);
    font-family: Avenir;
    font-size: 16px;
    font-weight: 900;
    line-height: 25.6px;
    text-align: left;

}
.list-item{
    color: rgba(33, 35, 83, 1);
    font-family: Avenir;
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;
    text-align: left;
    cursor: pointer;
}


.social-title{
    color: rgba(33, 35, 83, 1);
    font-family: Avenir;
    font-size: 16px;
    font-weight: 900;
    line-height: 25.6px;
    text-align: left;

}
.social-list{
    display: flex;
    gap: 14px;
    margin-top: 30px;
}
.social-item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50.13px;
    height: 50.13px;
    background-color: #e9e9ee;
    border-radius: 50%;
    cursor: pointer;
}

.icon-facebook{
    color: #0866ff;
    font-size: 27px;
    padding: 4px;
}
.icon-instagram{
    background-image: linear-gradient(322deg, #8A3AB9, #E95950,#BC2A8D,#FCCC63,#FBAD50,#CD486B,#4C68D7);
    color: #fff;
    font-size: 24px;
    padding: 1px 2px;
    border-radius: 6px;
}
.icon-twitter{
    color: #fff;
   background-color:  #00aeef;
   border-radius: 50%;
   font-size: 22px;
   padding: 4px;
}

.copy-right{
    position: absolute;
    bottom: 50px;
    color: rgba(33, 35, 83, 1);
    font-family: Avenir;
    font-size: 12px;
    font-weight: 400;
    line-height: 21.6px;
    letter-spacing: 0.01em;
    text-align: left;

}
.chat{
    position: absolute;
    bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    width: 60.16px;
    height: 60.16px;
    background: rgba(156, 105, 226, 0.2);
    border-radius: 50%;
}

.icon-messenger{
    color:rgba(156, 105, 226, 1);
    font-size: 32px;
}


//tablet


@media only screen and (min-width: 46.25em) and (max-width: 74em) {
    .wrapper{
        width: 90%;
    }

    .header{
        width: 80%;
    }

    .btn-sign-in{
        padding: 0px 60px;
    }

    .description{
        width: 100%;
    }

    .description-name{
        font-size: 72px;
        font-weight: 600;
        line-height: 75px;
    }


    .features{
        width: 80%;
        height: 100%;
        margin-top: 30px;
    }

    .group{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;
    }

    .group-img{
        display: none;
    }

    .group-name{
        width: none;
    }

    .btn-next{
        top: 35%;
        right: -30%;
    }

    .testimonials{
        width: 80%;
    }

    .testimonials-image{
        margin: 0;
    }

    .testimonials-wrapper{
        margin-top: 0;
    }

    .testimonials-next{
        right: 18px;
    }
    .testimonials-prev{
        left: 18px;
    }
    .vector{
        width: 30px;
    }

    .testimonials-desr{
        width: 100%;
        height: none;
    }

    .footer{
        width: 80%;
    }
}


// mobile
@media only screen and (max-width: 46.25em) {
    .header{
        width: 90%;
        height: auto;
    }
    .header-description{
        display: block;
        height: auto;
        margin-top: 70px;   
    }
    .btn-sign-in{
        padding: 22px 30px;
    }

    .description{
        width: 100%;
        position: relative;
        height: auto;
        bottom: 0;
        gap: 20px;
    }

    .description-name{
        font-size: 48px;
        font-weight: 600;
        line-height: 46px;
    }

    .description-text{
        width: 100%;
    }
    .description-image{
        position: relative;
        width: 100%;
    }

    .btn-description{
        position: absolute;
        display: flex;
        align-items: center;
        width: 30%;
        height: 47px;
        left: 36%;
        top: 192%;
        p{
            font-weight: normal;
        }
    }
    .features{
        width: 90%;
        height: auto;
    }

    .features-title{
      
      p{

          height: auto;
          width: auto;
        }
    } 

    .features-group{
        margin-bottom: 16%;
    }
    .group{
        position: relative;
        padding: 0;
        width: 100%;
        height: 120%;
    }
    .group-name{
        width: auto;
        height: auto;
        margin: auto;
        font-size: 16px;
        text-align: center;
    }
    .group-desr{
        width: auto;
        height: auto;
        margin: auto;
        padding: 0 5%   ;
        font-size: 13px;
    }

    .group-btn{
        position: absolute;
        bottom: 5%;
        right: 45%;
    }

    .btn-next{
        top: 39%;
        right: -35%;
    }

    .group-img{
        display: none;
    }

    .testimonials{
        width: 90%;
    }
    .testimonials-image{
        position: absolute;
        margin: 0;
        top: 10%;
        right: 0;
    }
    .testimonials-group{
        position: relative;
        height: 50%;
    }

    .testimonials-desr{
        width: 100%;
        height: 100%;
    }

    .footer{
        width: 90%;
        gap: 10px;
    }

    .inner-logo{
        align-items: normal;
    }

    .info-name{
        font-size: 16px;
        line-height: 26px;
    }
    .info-address{
        font-size: 13px;
    }
    .info-mail{
        font-size: 13px;
    }

    .list-item{
        font-size: 13px;
    }

    .social-list{
        flex-direction: column;
    }

}